<div class="landing-container text-center text-white d-flex flex-column justify-content-center align-items-center">
  <div>
    <h2>Hi,</h2>
    <h2 class="fw-bold">I am Vedant Kapse</h2>
  </div>

  <div class="my-3">
    <h4>Welcome to My Simple Chat App 💬</h4>
    <h5 class="fw-light">Signup or login to start chatting in real time!</h5>
  </div>

  <div class="my-4 d-flex gap-3 justify-content-center flex-wrap">
    <a class="btn btn-primary px-4" routerLink="/signup">Signup</a>
    <a class="btn btn-outline-light px-4" routerLink="/login">Login</a>
  </div>

  <div class="social mt-4">
    <h6 class="mb-2">Join me on</h6>
    <a href="https://linkedin.com/in/vedantkapse" target="_blank" class="me-3">
      Linkedin
    </a>
    <a href="https://github.com/vedantkapse" target="_blank">
      Github
    </a>
  </div>
</div>

<router-outlet></router-outlet>
